
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 190, 190);
}

header {
    font-size: 36px;
    text-align: center;
    background-color: rgb(200, 200, 200);
    padding: 36px;
}

form {
  width: 75%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

#search {
  width: 75%;
  border: 4px solid black;
  border-radius: 4px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.top-news {
    width: 65%;
    padding: 75px;
    margin: 0 0 0 10px;
    border: 4px solid darkgray;
    background-color: rgb(250, 250, 250);
    text-align: justify;

}

#submit {
    padding: 12px 20px;
    margin: 4px 0 0 0;
    display: inline-block;
    border: 4px solid black;
    border-radius: 4px;
    box-sizing: border-box; 
}

#update {
  padding: 10px 10px;
  margin: 0 0 0 16px;
  left: 40%;
  display: inline-block;
  border: 4px solid darkgray;
  border-radius: 4px;
  box-sizing: border-box;
}

#sidebox {
    padding: 32px 10px 32px 10px;
    width: 25%;
    float: right;
    background-color: rgb(245, 245, 245);
    border: 4px solid darkgray;
    text-align: justify;
}

.centerAndSide {
    display: flex;
    padding: 0 0 0 8px;
}

footer {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*     border: 1px solid;

        margin: 5px 5px 5px 5px;

*/

@media only screen and (max-width: 715px) {
    #sidebox {
        display: none;
    }
    .top-news {
        width: 100%;
        padding: 20px;
        margin: auto;
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
    }
    #submit {
        height: 45px;
        margin: 0 0 0 0;
        background-color: white;
    }
}

@media only screen and (max-width: 400px) {
    #sidebox {
        display: none;
    }
    .top-news {
        width: 100%;
        padding: 10px;
        margin: auto;
    }

    .centerAndSide {
        width: 100%;
        display: flex;
    }

    h1 {
        font-size: 36px;
    }
    #search {
        width: 65%;
    }
    #submit {
        width: 25%;
        height: 45px;
        margin: 0 0 0 0;
        background-color: white;
    }
    form {
        width: 100%;
    }
}