
body {
    background-color: rgb(224, 199, 199);
}

header{
    font-size: 36px;
    text-align: center;
}

#search {
  width: 50%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 4px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-news {
    width: 65%;
    border: 4px solid darkgray;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;

}

#submit {
    padding: 12px 20px;
    margin: 4px 0 0 0;
    display: inline-block;
    border: 4px solid black;
    border-radius: 4px;
    box-sizing: border-box; 
}

#update {
  padding: 12px 20px;
  margin: 8px 0;
  left: 40%;
  display: inline-block;
  border: 4px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

#sidebox {
    height: 600px;
    border: 1px solid black;
    width: 25%;
    padding: 4px;
    float: right;
}

.centerAndSide {
    display: flex;
    padding: 0 0 0 8px;
}